table th.unprocessed  {
    white-space: nowrap;
    border-right: 1px solid lightslategrey;
    border-left: 1px solid lightslategrey;
}

table td.unprocessed {
    white-space: nowrap;
}

table th.settings_th {
    white-space: nowrap;
    border-right: 1px solid lightslategrey;
    border-left: 1px solid lightslategrey;
    color: white;
    background: #448aff;
}