{% macro password_change_card(csrf) %}
    <div class="card">
        <div class="card-content">
            <span class="card-title">Update your password:</span>
            <form name="changePassword" method="POST" action="/user/update" id="changePassword">
                <label for="current-pw">Current Password:</label><br>
                <input type="password" name="current" id="current-pw"><br>
                <label for="new-pw">New Password:</label><br>
                <input type="password" name="new" id="new-pw"><br>
                <label for="confirm-pw">Confirm:</label><br>
                <input type="password" name="confirm" id="confirm-pw"><br>
                <input type="hidden" name="csrf" value="{{ csrf }}"/>
                <button class="btn waves-effect waves-light" type="submit">Submit</button>
            </form>
        </div>
    </div>
{#    <div class="card">#}
{#        <div class="card-content">#}
{#            <span class="card-title">Two-Factor Authentication</span>#}
{#            <p>Two-Factor Authentication increases the security of your account.</p>#}
{#            <label>You can type the security key in your app or just scan the QR code.</label>#}
{#            <br/>#}
{#            <br/>#}
{#            <div class="switch">#}
{#                <label>#}
{#                    Disable#}
{#                    <input type="checkbox" id="2fa_switch">#}
{#                    <span class="lever"></span>#}
{#                    Enable#}
{#                </label>#}
{#            </div>#}
{#            <br/>#}
{#            <div id="div_secret">#}
{#                <p style="font-weight: bold">Security key:</p>#}
{#                <p style="color: #00C853" id="secret_key"></p>#}
{#            </div>#}
{#            <div style="position: absolute; top: 30px; right: 30px;" id="div_qr">#}
{#                <p>Scan QR on your app</p>#}
{#                <div id="qrcode" style="width:150px; height:150px; right: 8px; top:30px; position: absolute"></div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{% endmacro %}