{% macro modal(content=None, id="modal") %}
<div id="{{ id }}" class="modal">
    <div class="modal-content">
        <h5>Message:</h5>
        <p id="{{ id }}_text">{{ content }}</p>
    </div>
    <div class="modal-footer">
        <a id="closemodal" onclick="location.reload()" class="modal-close waves-effect waves-green btn-flat">OK</a>
    </div>
</div>
{% endmacro %}
<script>
{% macro jqueryformhandler(id=None, modalid='result_modal', modaldataid='result_modal_data', inputs=[], endpoint='post') %}
$("{{ id }}").submit(function(event) {
    event.preventDefault();


    let submission = $.{{ endpoint }}($(this).attr('action'), {
        {% for input in inputs %}{{ input.name }}: {{ input.value }},
        {% endfor %}
    })

    submission.done(function(data) {
        console.log(submission)
        $('#{{ modalid }}').modal('open');
        $('#{{ modaldataid }}').text(submission.responseJSON.message);
    });
    submission.fail(function() {
        $('#{{ modalid }}').modal('open');
        $('#{{ modaldataid }}').text('failure, see console');

        console.log(submission)
    });
});
{% endmacro %}


</script>