{% macro sidenav_admin(universities) %}
    <ul id="sidenav-left" class="sidenav sidenav-fixed">
        <li><a href="/admin" class="logo-container">ISKO<i class="material-icons right">flutter_dash</i></a></li>
        <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
                <li class="bold waves-effect"><a class="collapsible-header" href="/admin#universities" class="waves-effect" id="universities-link">Universities<i class="material-icons left chevron">chevron_right</i></a>
                    <div class="collapsible-body">
                        <ul>
                            {% for university in universities %}
                                <li class="tooltipped" data-position="right" data-tooltip="{{ university.name }}"><a href="/home/{{ university.uuid }}" class="sidenav-text waves-effect">{{ university.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </li>

                <li class="bold waves-effect"><a href="/logout" class="waves-effect">Log Out<i class="material-icons chevron">logout</i></a>
                </li>
            </ul>
        </li>
    </ul>
{% endmacro %}


{% macro sidenav_employee(universities) %}
    <ul id="sidenav-left" class="sidenav sidenav-fixed">
        <li><a href="/dashboard" class="logo-container">ISKO<i class="material-icons right">flutter_dash</i></a></li>
        <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
                <li class="bold waves-effect"><a class="collapsible-header" href="/dashboard#universities" class="waves-effect" id="universities-link">Universities<i class="material-icons left chevron">chevron_right</i></a>
                    <div class="collapsible-body">
                        <ul>
                            {% for university in universities %}
                                <li class="tooltipped" data-position="right" data-tooltip="{{ university.name }}"><a href="/home/{{ university.uuid }}" class="sidenav-text waves-effect">{{ university.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </li>

                <li class="bold waves-effect"><a href="/logout" class="waves-effect">Log Out<i class="material-icons chevron">logout</i></a>
                </li>
            </ul>
        </li>
    </ul>
{% endmacro %}



{% macro sidenav_client(universities) %}
    <ul id="sidenav-left" class="sidenav sidenav-fixed">
        <li><a href="/dashboard" class="logo-container">ISKO<i class="material-icons right">flutter_dash</i></a></li>
        <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
{#                <li class="bold waves-effect"><a class="collapsible-header" href="/dashboard#universities" class="waves-effect" id="universities-link">Universities<i class="material-icons left chevron">chevron_right</i></a>#}
{#                    <div class="collapsible-body">#}
{#                        <ul>#}
{#                            {% for university in universities %}#}
{#                                <li class="tooltipped" data-position="right" data-tooltip="{{ university.name }}"><a href="/home/{{ university.uuid }}" class="sidenav-text waves-effect">{{ university.name }}</a></li>#}
{#                            {% endfor %}#}
{#                        </ul>#}
{#                    </div>#}
{#                </li>#}

                <li class="bold waves-effect"><a href="/logout" class="waves-effect">Log Out<i class="material-icons chevron">logout</i></a>
                </li>
            </ul>
        </li>
    </ul>
{% endmacro %}
