{% extends "base.html" %}
{% from "macros/forms.html" import modal, jqueryformhandler %}
{% from "macros/navbars.html" import sidenav_admin %}
{% from "macros/cards.html" import password_change_card %}
{% block title %}Management Dashboard{% endblock %}
{% block top_nav_title %}Management Dashboard{% endblock %}
{% block nav_content %}
    <ul class="tabs">
        <li class="tab" id="universities-tab"><a href="#universities" class="active">Universities</a></li>

        {% if role != "manager" and role != "scholar" %}

        <li class="tab" id="users-tab"><a href="#users">Users</a></li>

        {% endif %}

{#        <li class="tab" id="tokens-tab"><a href="#tokens">Tokens</a></li>#}
        <li class="tab" id="settings-tab"><a href="#settings">Settings</a></li>

    </ul>
{% endblock %}
{% block sidenav %}
    {{ sidenav_admin(universities) }}
{% endblock %}

{% block maincontent %}

{#    <div class="preloader">#}
{#        <svg width="200" height="200" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"#}
{#             preserveAspectRatio="xMidYMid" class="lds-ripple" style="background:0 0">#}
{#            <circle cx="50" cy="50" r="4.719" fill="none" stroke="#448AFF" stroke-width="2">#}
{#                <animate attributeName="r" calcMode="spline" values="0;40" keyTimes="0;1" dur="3"#}
{#                         keySplines="0 0.2 0.8 1" begin="-1.5s" repeatCount="indefinite"/>#}
{#                <animate attributeName="opacity" calcMode="spline" values="1;0" keyTimes="0;1" dur="3"#}
{#                         keySplines="0.2 0 0.8 1" begin="-1.5s" repeatCount="indefinite"/>#}
{#            </circle>#}
{#            <circle cx="50" cy="50" r="27.591" fill="none" stroke="#5699d2" stroke-width="2">#}
{#                <animate attributeName="r" calcMode="spline" values="0;40" keyTimes="0;1" dur="3"#}
{#                         keySplines="0 0.2 0.8 1" begin="0s" repeatCount="indefinite"/>#}
{#                <animate attributeName="opacity" calcMode="spline" values="1;0" keyTimes="0;1" dur="3"#}
{#                         keySplines="0.2 0 0.8 1" begin="0s" repeatCount="indefinite"/>#}
{#            </circle>#}
{#        </svg>#}
{#    </div>#}

    <div id="universities" class="row">
        <div class="row">
            <a class="waves-effect waves-light btn modal-trigger" href="#adduniversitymodal" style="float: right"
               id="AddNewUniversity" name="AddNewUniversity"><i class="material-icons left">add_circle</i>Add new
                university</a>
        </div>
        <div class="card">
            <div class="card-content">
                <span class="card-title">Universities:</span>
                <table id="addUniversityTable">
                    <thead>
                    <tr>
                        <th>University</th>
                        <th style="text-align:right">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for university in universities %}
                        <tr id="{{ university.uuid }}">
                            <td class="university_name" style="cursor: pointer"
                                onclick="window.location='/home/{{ university.uuid }}'">{{ university.name }}</td>
                            <td style="text-align:right">
                                <a id="dropdown-trigger" class='dropdown-trigger' data-target='drop-{{ university.uuid }}'><i
                                        class="material-icons">more_vert</i></a>
                                <ul id='drop-{{ university.uuid }}' class='dropdown-content'>
                                    <li><a id="{{ university.uuid }}_edit_university">Edit University</a></li>
                                    <li><a id="{{ university.uuid }}_remove_university">Delete University</a></li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>

            </div>
        </div>

    </div>

    <div id="users" class="row">



        <div class="row">
            <a class="waves-effect waves-light btn modal-trigger" href="#addusermodal" style="float: right"
               id="AddNewUser" name="AddNewUser"><i class="material-icons left">person</i>Add new
                user</a>
        </div>




            <div class="card">
                <div class="card-content">
                    <span class="card-title">All Users</span>
                    <ul class="tabs">
                        <li class="tab"><a href="#employees">Managers</a></li>
                        <li class="tab default" id="client-tab"><a href="#clients">Scholars</a></li>
                    </ul>
                    <div id="employees">
                        <table>
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Role</th>
                                <th class="center">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
{#                            {% for user in admins %}#}
{#                                <tr id="{{ user.uuid }}">#}
{#                                    <td class="user_name">{{ user.name}}</td>#}
{#                                    <td>{{ user.role }}</td>#}
{#                                    <td class="center">#}
{#                                        <a class='dropdown-trigger' data-target='drop-{{ user.uuid }}'><i#}
{#                                                class="material-icons">more_vert</i></a>#}
{#                                        <ul id='drop-{{ user.uuid }}' class='dropdown-content'>#}
{#                                            <li><a id="{{ user.uuid }}_edit_user">Edit User</a></li>#}
{#                                            <li><a id="{{ user.uuid }}_remove_user">Delete User</a></li>#}
{#                                        </ul>#}
{#                                    </td>#}
{#                                </tr>#}
{#                            {% endfor %}#}
                            {% for user in employees %}
                                <tr class="user_data" id="{{ user.uuid }}">
                                    <td class="user_name">{{ user.name }}</td>
                                    <td>{{ user.role }}</td>
                                    <td id="employee_dropdown" class="center">
                                        <a class='dropdown-trigger' data-target='drop-{{ user.uuid }}'><i
                                                class="material-icons">more_vert</i></a>
                                        <ul id='drop-{{ user.uuid }}' class='dropdown-content'>
                                            <li><a id="{{ user.uuid }}_edit_user">Edit User</a></li>
                                            <li><a id="{{ user.uuid }}_remove_user">Delete User</a></li>
                                        </ul>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div id="clients">
                    <br>
                        <p>Note: After creating a scholar, you can edit the user and add app related details.</p>


                        <table>
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Status</th>
                                <th>Mavis Login</th>
                                <th>Mavis Password</th>
                                <th>Scholar Share</th>

                                <th class="center">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in clients %}
                                <tr id="{{ user.uuid }}">
                                    <td class="client_name">{{ user.name }}</td>
                                    <td>{{ user.status }}</td>

                                    <td>{{ user.app_login or '--'  }}</td>
                                    <td>{{ user.app_password or '--' }}</td>
                                    <td>{{ user.scholar_share or 0  }}%</td>

                                    <td class="center" id="client_dropdown">
                                        <a class='dropdown-trigger' data-target='drop-{{ user.uuid }}'><i
                                                class="material-icons">more_vert</i></a>
                                        <ul id='drop-{{ user.uuid }}' class='dropdown-content'>
                                            <li>
                                                <a id="{{ user.uuid }}_set_status">{{ 'Deactivate User' if user.status == 'Active' else 'Activate User' }}</a>
                                            </li>
                                            <li><a id="{{ user.uuid }}_edit_user">Edit User</a></li>
                                            <li><a id="{{ user.uuid }}_remove_user">Delete User</a></li>
                                        </ul>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>






    </div>

{#    <div id="tokens" class="row">#}
{#        <div class="row">#}
{#            <a class="waves-effect waves-light btn modal-trigger" href="#whitelisttokenmodal" style="float: right"#}
{#               id="WhiteListToken" name="WhiteListToken"><i class="material-icons right">playlist_add</i>Whitelist Token</a>#}
{#        </div>#}
{#        <div class="card">#}
{#            <div class="card-content">#}
{#                <span class="card-title">Whitelisted Tokens:</span>#}
{#                <table id="newTokenTable">#}
{#                    <thead>#}
{#                    <tr>#}
{#                        <th>Token</th>#}
{#                        <th style="text-align:right">Actions</th>#}
{#                    </tr>#}
{#                    </thead>#}
{#                    <tbody>#}
{#                    {% for symbol in whitelist %}#}
{#                        <tr>#}
{#                            <td style="cursor: pointer">{{ symbol }}</td>#}
{#                            <td style="text-align:right">#}
{#                                <a id="dropdown-trigger" class='dropdown-trigger' data-target='drop-{{ symbol }}'><i#}
{#                                        class="material-icons">more_vert</i></a>#}
{#                                <ul id='drop-{{ symbol }}' class='dropdown-content'>#}
{#                                    <li><a id="{{ symbol }}_remove_token">Delete Token</a></li>#}
{#                                </ul>#}
{#                            </td>#}
{#                        </tr>#}
{#                    {% endfor %}#}
{##}
{#                    </tbody>#}
{#                </table>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#    #}

    <div id="settings" class="row">
        {{ password_change_card(user_update_csrf) }}

    </div>
    {{ modal(id="result_modal") }}
    <div id="edit_modal" class="modal">
        <div class="modal-content">
            <h5>Message:</h5>
            <p id="editmodaltext">A bunch of text</p>
        </div>
        <div class="modal-footer">
            <a id="closemodal" href="#!" class="modal-close waves-effect waves-green btn-flat">OK</a>
        </div>
    </div>
    <div id="adduniversitymodal" class="modal" style="width: 75% !important ; max-height: 100% !important">
        <div class="modal-content" style="padding: 40px 60px 40px 60px">
            <div class="row">
                <h5>Add new university:</h5>
                <form name="newUniversity" method="POST" action="/university/create" id="newUniversity">
                    <label class="label" for="university">Enter name:</label><br>
                    <input type="text" name="university" id="universityname"><br>
                    <input type="hidden" name="csrf" value="{{ university_csrf }}"/>
                    <div style="float: right">
                        <button class="btn waves-effect waves-light" type="submit" id="submit">Submit</button>
                        <button class="btn waves-effect waves-light" type="button" id="universityModalCancel">Cancel
                        </button>
                        </div>




                    </form>
            </div>

        </div>
    </div>


    <div id="addusermodal" class="modal" style="width: 75% !important ; max-height: 100% !important">
        <div class="modal-content" style="padding: 40px 60px 40px 60px">
            <div class="row">
                <h5>Add new user:</h5>
                    <form name="newUser" method="POST" action="/user/create" id="createNewUser">
                        <label for="username">Enter new username:</label><br>
                        <input type="text" name="username" id="newusername"><br>
                        <label for="password">Enter a password for the new user:</label>
                        <input type="password" name="password" id="newuserpassword"><br>
                        <label for="level">Choose user role:</label>
                        <select name="level" id="newuserlevel">
                            <option value="Scholar" selected >Scholar</option>
{#                            <option value="Admin">Admin</option>#}
                            <option value="Manager">Manager</option>
                        </select>
                        <input type="hidden" name="csrf" value="{{ user_csrf }}"/>
                        <div style="float: right">
                        <button id="newusersubmit" class="btn waves-effect waves-light" type="button">Submit</button>
                        <button class="btn waves-effect waves-light" type="button" id="userModalCancel">Cancel
                        </button>
                        </div>




                    </form>
            </div>

        </div>
    </div>




    <div id="editUserModal" class="modal" style="max-height: 100% !important; overflow: visible">
        <input type="hidden" id="modalOwner" value=""/>
        <div class="modal-content" style="padding: 10px 30px 10px 30px">
            <div class="row">
                <div class="col s8 scroll">
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title" id="editUserModaltitle"></span>
                            <form id='update_user_form'>
                                <label for='user_name_edit'>New username</label>
                                <input id='user_name_edit' type='text' class='validate' value=''>

                                <label for='user_password_edit'>New password</label>
                                <input id='user_password_edit' type='password' class='validate' placeholder='*****'>

{#                                <label for='app_qr'>QR Code</label>#}
{#                                <br>#}
{#                                <input id='app_qr' type='file' class='validate' value=''>#}
{#                                <br>#}
{#                                <br>#}

                                <h5>Mavis Login Details</h5>
                                <p>As you give your scholars their Isko account, this will display in their interface.
                                    These details are encrypted in our backend for your safety.</p>
                                <br>
                                <label for='app_login'>App Login</label>
                                <input id='app_login' type='text' class='validate' value=''>

                                <label for='app_password'>App Password</label>
                                <input id='app_password'  type='text' class='validate' placeholder=''>

                                <label for='ronin_address'>Ronin Address</label>
                                <input id='ronin_address' placeholder="ronin: " type='text' class='validate' value=''>

                                <label for='team_aquisition_cost'>Team Aquisition Cost</label>
                                <input id='team_aquisition_cost'  placeholder="How much did you buy this team for?" type='text' class='validate' value=''>


                                <label for='team_current_valuation'>Team Current Valuation</label>
                                <input id='team_current_valuation' type='text' class='validate'
                                       placeholder="How much you are selling this team in the future?" value=''>


                                <label for='scholar_share'>Scholar Share</label>
                                <input id='scholar_share' type='number' class='validate'
                                      min="0" max="100" step="1" value='' required>
<br>
                                <label for='scholar_qr'>Scholar QR - Coming Soon</label> <br>
                                  <input  type="file" id="scholar_qr" name="scholar_qr" disabled>

<br>
                                <label for='user_status_edit' id="user_status_label">Update status</label>
                                <select class='browser-default' id='user_status_edit'>
                                    <option value='Active'>Active</option>
                                    <option value='Inactive'>Inactive</option>
                                </select>

{#                                <label for='user_role_edit'>New role</label>#}
{#                                <select class='browser-default' id='user_role_edit'>#}
{#                                    <option value='Admin'>Admin</option>#}
{#                                    <option value='Manager'>Manager</option>#}
{#                                    <option  selected="selected" value='Scholar'>Scholar</option>#}
{#                                </select>#}




                                <div style="bottom: 0px; right: 0px; margin-top: 50px;">
                                    <button class="btn waves-effect waves-light" type="button" id="editUserModalSubmit">
                                        Save
                                    </button>
                                    <button class="btn waves-effect waves-light" type="button"
                                            id="editUserModalCancel">
                                        Cancel
                                    </button>
                                    <button class="btn waves-effect waves-light" type="button"
                                            id="editUserModalSelect" style="float: right">
                                        Select/Unselect All
                                    </button>
                                </div>


                            </form>
                        </div>
                    </div>

                </div>
                <div class="col s4">
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title" id="assignuniversitytitle"></span>
                            <table id="user_university_table" class="table table-bordered">
                                <thead>
                                <tr>
                                    <th scope="col">University</th>
                                    <th scope="col">Action</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for university in universities %}
                                    <tr>
                                        <td>
                                            {{ university.name }}
                                        </td>
                                        <td>

                                            <label>
                                                <input type="checkbox" value="{{ university.uuid }}"
                                                       id="{{ university.uuid }}_checkbox"/>
                                                <span></span>
                                            </label>
                                        </td>
                                    </tr>
                                {% endfor %}


                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% block postscripts %}
    {{ super() }}
    <script src="/static/js/admin.js"></script>
    <script>

        $('#universityModalCancel').click(function () {
            $('#adduniversitymodal').modal('close');
        });


        $('#userModalCancel').click(function () {
            $('#addusermodal').modal('close');
        });

        $('#whiteListModalCancel').click(function () {
            $('#whitelisttokenmodal').modal('close');
        });
        $('#editUserModalCancel').click(function () {
            $('#editUserModal').modal('close');
        });


        $('#edit-user').on('change', function () {
            $('#edit-username').val(this.value);
            $('#edit-password').val(this.value);
            $('#existing-username').val(this.value);
        });

        $("#editUserModalSubmit").click(function () {
            var list = new Array();
            var user_uuid = $("#modalOwner").val()
            $("input:checkbox:checked").each(function () {
                console.log($(this).val())
                list.push($(this).val())
            })

            console.log(list)
            var status = $('#user_status_edit').val()
            if ($('#user_role_edit').val() != "scholar") {
                status = ''
            }
            var contents;
            var reasonableTimeToWaitForFileToLoad = 100000;
            function readFileData(evt) {
                var file = evt.target.files[0];
                var reader = new FileReader();

                reader.onload = function(e) {
                contents = e.target.result; //<-- I removed the `var` keyword
                console.log(e.target.result)
                }
                reader.readAsText(file);
            }
            document.getElementById('scholar_qr').addEventListener('change', readFileData, false);
            console.log(contents);//base64encoded string

            setTimeout(function() {
              console.log(contents);//`contents` access second attempt: prints the contents 'may be if the time allows.'
            }, reasonableTimeToWaitForFileToLoad);

            var formData = {
                'csrf': "{{ user_edit_csrf }}",
                'university_uuids[]': list.join(),
                'user_uuid': user_uuid,
                'edit-username': $('#user_name_edit').val(),
                'edit-level': $('#user_role_edit').val(),
                'edit-password': $('#user_password_edit').val(),
                'edit-qr': contents,
                'edit-app-login': $('#app_login').val(),
                'edit-app-password': $('#app_password').val(),
                'edit-ronin-address': $('#ronin_address').val(),
                'edit-scholar-share': $('#scholar_share').val(),
                'edit-team-aquisition-cost': $('#team_aquisition_cost').val(),
                'edit-team-current-valuation': $('#team_current_valuation').val(),
                'edit-status': status,
            };
            $.ajax({
                url: "/useredit",
                method: 'POST',
                data: formData,
                async: false,
                success: function (out) {
                    $('#result_modal').modal('open');
                    $('#result_modal_text').text(out["message"]);

                    $('#editUserModal').modal('close');
                    $("#closemodal").attr("href", '/admin#users')
                }
            });

        })

        $('#editUserModalSelect').click(function () {
            if ($(this).hasClass('allChecked')) {
                $('input[type="checkbox"]', '#user_university_table').prop('checked', false);
            } else {
                $('input[type="checkbox"]', '#user_university_table').prop('checked', true);
            }
            $(this).toggleClass('allChecked');
        })

        $('#user_status_edit').hide()
        $('#user_status_label').hide()
        $('#user_role_edit').change(function () {
            if ($('#user_role_edit').val() == "scholar") {
                $('#user_status_edit').show()
                $('#user_status_label').show()
            } else {
                $('#user_status_edit').hide()
                $('#user_status_label').hide()
            }
        })

        $("#changePassword").submit(function (event) {
            event.preventDefault();
            submit_to_modal({
                    'csrf': "{{ user_update_csrf }}",
                    'current': $('#current-pw').val(),
                    'new': $('#new-pw').val(),
                    'confirm': $('#confirm-pw').val()
                },
                $(this).attr('action'))
        })


        $("#newUniversity").submit(function (event) {
            event.preventDefault();
            submit_to_modal({
                    'csrf': "{{ university_csrf }}",
                    'university': $('#universityname').val()
                },
                $(this).attr('action'))
        })

        $("#newusersubmit").click(function (event) {
            event.preventDefault();
            var params = {
                'password': $('#newuserpassword').val(),
                'level': $('#newuserlevel').val(),
                'username': $('#newusername').val(),
                'csrf': "{{ user_csrf }}"
            }
            $.ajax({
                url: "/user_create",
                method: 'POST',
                data: params,
                async: false,
                success: function (out) {
                    $('#result_modal').modal('open');
                    $('#result_modal_text').text(out["message"]);
                    $('#newusername').val("")
                    $('#newuserpassword').val("")
                    $("#closemodal").attr("href", '/admin#users')
                }
            });

        })

        {% for university in universities %}

            $("#{{ university.uuid }}_remove_university").mousedown(function (event) {
                let action = "universitydelete"
                $.confirm({
                    title: 'Delete this university?',
                    content: 'This action cannot be undone.',
                    buttons: {
                        confirm: function () {
                            submit_to_modal({
                                    'csrf': "{{ university_delete_csrf }}",
                                    'university_uuid': "{{ university.uuid }}",
                                    '{{ university.name }}': $('#{{ university.name }}_university_to_remove').val()
                                },
                                action)
                        },
                        cancel: function () {
                            $("#closemodal").attr("href", '/admin#universities')
                        }
                    }
                });
            })

            $("#{{ university.uuid }}_edit_university").mousedown(function (event) {
                let action = "university_update"
                $.confirm({
                    title: 'Renaming {{ university.name }}',
                    content: "<form id='update_university_form'><div class='input-field col s6'>\<" +
                        "input id='university_name_edit' type='text' class='validate'>\<" +
                        "label for='university_name_edit'>New university name</div></form>",
                    buttons: {
                        confirm: function () {

                            submit_to_modal({
                                    'csrf': "{{ university_update_csrf }}",
                                    'university_name': $('#university_name_edit').val(),
                                    'university_uuid': "{{ university.uuid }}"
                                },
                                action)

                        },
                        cancel: function () {
                        }
                    }
                });
            })


        {% endfor %}

        {% for token in whitelist %}
            $("#{{ token }}_remove_token").mousedown(function (event) {
                let action = "token_delete"
                $.confirm({
                    title: 'Delete this token?',
                    content: 'This action cannot be undone.',
                    buttons: {
                        confirm: function () {
                            var formData = {
                                'csrf': "{{ token_delete_csrf }}",
                                'token': "{{ token }}"
                            };
                            $.ajax({
                                url: "/token_delete",
                                method: 'POST',
                                data: formData,
                                async: false,
                                success: function (out) {
                                    $('#result_modal').modal('open');
                                    $('#result_modal_text').text(out["message"]);
                                    $("#closemodal").attr("href", '/admin#tokens')
                                }
                            });
                        },
                        cancel: function () {
                        }
                    }
                });
            })
        {% endfor %}


        {% for user in users %}

            $("#{{ user.uuid }}_set_status").click(function (event) {
                let action = "setstatus"
                submit_to_modal({
                    'csrf': "{{ user_set_status_csrf }}",
                    'username': "{{ user.name }}",
                    "status": "{{ user.status }}"
                }, action);
            })

            $("#{{ user.uuid }}_remove_user").click(function (event) {
                let action = "userdelete"
                $.confirm({
                    title: 'Delete this user?',
                    content: 'This action cannot be undone.',
                    buttons: {
                        confirm: function () {
                            submit_to_modal({
                                    'csrf': "{{ user_delete_csrf }}",
                                    'user_uuid': "{{ user.uuid }}",
                                    '{{ user.name }}': $('#{{ user.name }}_user_to_remove').val()
                                },
                                action)
                        },
                        cancel: function () {
                        }
                    }
                });
            })

            $("#{{ user.uuid }}_edit_user").click(function (event) {

                if ("{{ user.role }}" == "scholar") {
                    $('#user_status_edit').show()
                    $('#user_status_label').show()
                }
                $("#editUserModaltitle").text("Edit user: {{ user.name }}")
                $("#assignuniversitytitle").text("Assign university:")
                $("#editUserModal").modal('open');
                $("#user_role_edit").val("{{ user.role }}")
                $("#modalOwner").val("{{ user.uuid }}")
                $(".dropdown-trigger").dropdown('close');
                {% for map in mappings %}
                    {% if map["user"]['uuid'] == user.uuid %}
                        {% for comp in map["universities"] %}
                            $("#{{ comp["uuid"] }}_checkbox").prop('checked', true)
                        {% endfor %}

                    {% endif %}

                {% endfor %}
            })

        {% endfor %}

        $('#newToken').submit(function (event){
            event.preventDefault();
            var params = {
                'token': $('#token-symbol').val(),
                'csrf': "{{ token_csrf }}"
            }
            $.ajax({
                url: "/token_whitelist",
                method: 'POST',
                data: params,
                async: false,
                success: function (out) {
                    $('#result_modal').modal('open');
                    $('#result_modal_text').text(out["message"]);
                    $('#token-symbol').val("")
                    $('#whitelisttokenmodal').modal('close')
                    $("#closemodal").attr("href", '/admin#tokens')
                }
            });
        })

        $('#btn_whitelist_token').click(function (event) {
            event.preventDefault();
            var params = {
                'token': $('#token-symbol').val(),
                'csrf': "{{ token_csrf }}"
            }
            $.ajax({
                url: "/token_whitelist",
                method: 'POST',
                data: params,
                async: false,
                success: function (out) {
                    $('#result_modal').modal('open');
                    $('#result_modal_text').text(out["message"]);
                    $('#token-symbol').val("")
                    $('#whitelisttokenmodal').modal('close')
                    $("#closemodal").attr("href", '/admin#tokens')
                }
            });

        })


        $("#newMapping").submit(function (event) {
            event.preventDefault();
            submit_to_modal(
                {
                    'csrf': "{{ mapping_csrf }}",
                    'user_uuid': $('#user_uuid').val(),
                    'university_uuid': $('#university_uuid').val()
                },
                $(this).attr('action'))
        })

        $("#createNewUser").submit(function (event) {
            event.preventDefault();
            submit_to_modal(
                {
                    'csrf': "{{ user_csrf }}",
                    'username': $('#newusername').val(),
                    'password': $('#newuserpassword').val(),
                    'level': $('#newuserlevel').val()
                },
                $(this).attr('action'))
        })

        $(document).on('click', '#users-link', function (e) {
            instance.select('users');
        });

        $(document).on('click', '#settings-link', function (e) {
            instance.select('settings');
        });


        $(document).on('click', '#universities-tab', function (e) {
            history.pushState(null, null, '#universities');
            history.pushState(null, null, '#universities');
        });

        $(document).on('click', '#mappings-tab', function (e) {
            history.pushState(null, null, '#mappings');
        });

        $(document).on('click', '#users-tab', function (e) {
            history.pushState(null, null, '#users');
        });

        $(document).on('click', '#tokens-tab', function (e) {
            history.pushState(null, null, '#tokens');
        });

        $(document).on('click', '#settings-tab', function (e) {
            history.pushState(null, null, '#settings');
        });

        var qrcode = new QRCode(document.getElementById("qrcode"), {
            width: 150,
            height: 150
        });




        function base64ToBlob(base64, mime)
        {
            mime = mime || '';
            var sliceSize = 1024;
            var byteChars = window.atob(base64);
            var byteArrays = [];

            for (var offset = 0, len = byteChars.length; offset < len; offset += sliceSize) {
                var slice = byteChars.slice(offset, offset + sliceSize);

                var byteNumbers = new Array(slice.length);
                for (var i = 0; i < slice.length; i++) {
                    byteNumbers[i] = slice.charCodeAt(i);
                }

                var byteArray = new Uint8Array(byteNumbers);

                byteArrays.push(byteArray);
            }

            return new Blob(byteArrays, {type: mime});
        }



        $(document).ready(function () {
            $('.modal').modal();
            $('#universityname').val('');
            $('#div_qr').hide()
            $('#div_secret').hide()

            {% for enabled in enabled_2fa %}
                if ("{{ enabled }}" != '') {
                    $('#secret_key').text("{{ enabled.secret_key }}")
                    qrcode.makeCode("otpauth://totp/" + "{{ enabled.username }}" + "?secret=" +
                        "{{ enabled.secret_key }}" + "&issuer=JFDI");
                    if ("{{ enabled.auth_status }}" === "Enabled") {
                        $('#2fa_switch').attr('Checked', 'Checked');
                        $('#div_qr').show()
                        $('#div_secret').show()

                    } else {
                        $('#div_qr').hide()
                        $('#div_secret').hide()
                    }
                }
            {% endfor %}

            $("#2fa_switch").change(function (e) {
                let status;
                if (this.checked) {
                    status = "Enabled"

                } else {
                    status = "Disabled"

                }
                var formData = {
                    'csrf': "{{ enable_disable_2fa_csrf }}",
                    'auth_status': status
                };
                $.ajax({
                    url: "/enable_disable_2fa",
                    method: 'POST',
                    data: formData,
                    async: false,
                    success: function (out) {
                        location.href = "/admin#settings"
                        location.reload()
                    }
                });
            });

        })

    </script>
{#    <script src="/static/js/preloaderjs.js"></script>#}
    <style>

    .scroll {
    max-height: 700px;
    overflow-y: auto;
}

    </style>
{% endblock %}