<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="">
    <title>Axie Iskolarship - {% block title %}Base{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.24/datatables.min.css"/>
    <!-- Fullcalendar-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.7.0/fullcalendar.min.css" rel="stylesheet">
    <!-- Materialize-->
    <link href="/static/css/admin-materialize.min.css" rel="stylesheet">
    <link href="/static/css/preloader.css" rel="stylesheet">
    <link href="/static/css/transaction-table.css" rel="stylesheet">
    <!-- Material Icons-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">






</head>
<body class="has-fixed-sidenav">
<header>
    <button class="sidenav-hider btn-floating btn-small waves-effect waves-light white" style="position: fixed"><i
            class="material-icons black-text">keyboard_arrow_left</i></button>
    {% block sidenav %}
    {% endblock %}
    <div id="dropdown1" class="dropdown-content notifications">
        <div class="notifications-title">Updates</div>
        {% block notifications %}
            <div class="card">
                <p>This is our first version. Currently working on QR Code upload.</p>
            </div>
        {% endblock %}
    </div>
</header>
<main>
    <div class="navbar-fixed col s12 m4 l3" style="height: 110px">
        <nav class="navbar nav-extended">
            <div>
                <div class="nav-wrapper">
                    <span class="brand-logo">{% block top_nav_title %}Base{% endblock %}</span>
                    <ul id="nav-mobile" class="right">
                        <li class="hide-on-med-and-down"><a href="#!" data-target="dropdown1"
                                                            class="dropdown-trigger waves-effect"><i
                                class="material-icons">notifications</i></a></li>
                    </ul>
                    <a href="#!" data-target="sidenav-left" class="sidenav-hider sidenav-trigger left"><i
                            class="material-icons black-text">menu</i></a>
                </div>
            </div>
            <div class="nav-content">
                {% block nav_content %}
                    <ul class="tabs">
                        <li class="tab"><a href="#test1" class="active">Overview</a></li>
                        <li class="tab"><a href="#test2">Transactions</a></li>
                        <li class="tab"><a href="#test3">Reports</a></li>
                        <li class="tab"><a href="#test4">Settings</a></li>
                    </ul>
                {% endblock %}
            </div>
        </nav>
    </div>
    <div class="container col s12 m8 l9">
        {% block maincontent %}
        {% endblock %}
    </div>
</main>
{% block postscripts %}
    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-2.2.4.js"></script>
    <script src="/static/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.2/moment.min.js"></script>
    <script src="/static/js/helpers.js"></script>
    <script src="/static/js/sidenav-hider.js"></script>

    <!-- External libraries -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.7.0/fullcalendar.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.24/datatables.min.js"></script>
    <script src="/static/js/DataTableReorderAndResize.js"></script>
    <script src="/static/js/imagesloaded.pkgd.min.js"></script>
    <script src="/static/js/masonry.pkgd.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>

    <!-- Initialization script -->
    <script src="/static/js/init.js"></script>
    <script src="/static/js/qrcode.js"></script>
    <script src="/static/js/qrcode.min.js"></script>
{% endblock %}
</body>
</html>
