{% extends "base.html" %}
{% from "macros/forms.html" import modal, jqueryformhandler %}
{% from "macros/navbars.html" import sidenav_admin, sidenav_employee, sidenav_client %}
{% from "macros/cards.html" import password_change_card %}
{% block title %}Dashboard{% endblock %}
{% block sidenav %}

    {% if role == "manager" %}
        {{ sidenav_employee(universities) }}
    {% elif role == "scholar" %}
        {{ sidenav_client(universities) }}
    {% elif role == "admin" %}
        {{ sidenav_admin(universities) }}
    {% endif %}

{% endblock %}
{% block top_nav_title %}Dashboard{% endblock %}
{% block nav_content %}
    <ul class="tabs">

    {% if role == "scholar" %}
    <li class="tab" id="access_codes-tab"><a href="#access_codes" class="active">Access Codes</a></li>
    {% endif %}

    {% if role == "manager" %}

    <li class="tab" id="universities-tab"><a href="#universities" class="active">Universities</a></li>

    {% endif %}


        <li class="tab" id="settings-tab"><a href="#settings">Settings</a></li>
    </ul>
{% endblock %}
{% block maincontent %}
    {% if role == "scholar" %}

    <div id="access_codes" class="row">
    <div class="card">
        <div class="card-content">
            <span class="card-title">Access Codes:</span>
            <br>


               <label> Mavis Login: </label> <input type="password" value={{ usr_details.app_login }} disabled id="myInput"/><br><br>

                <label> Mavis Password: </label> <input type="password" value={{ usr_details.app_password }} disabled id="myInput1"/><br><br>



                    <label>
                        <input type="checkbox" onclick="showFunction()">
                        <span>Show Credentials</span>
                    </label>

             <label>
                 QR Code:
            </label>

            <br>
            <br>

             <label>
                 Marketplace Url:
            </label>

            <br>
            <br>

              <a class="waves-effect waves-light btn "
           onclick=" window.open('{{ usr_details.ronin_address }}','_blank')">Axie Marketplace</a>
                </h6>


        </div>
    </div>
    </div>
    {% endif %}

    {% if role == "manager" %}

    <div id="universities" class="row">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Universities:</span>
                {% for company in universities %}
                     <h6><span class="company_name">{{ company.name }}</span> - <a name="{{ company.name }}_reports"
                                                                                      href="/home/{{ company.uuid }}#reports">Reports</a>
                        </h6>
                {% endfor %}
            </div>
        </div>
    </div>

    {% endif %}

    <div id="settings" class="row">
        {{ password_change_card(user_update_csrf) }}
    </div>



    {{ modal(id="result_modal") }}
{% endblock %}
{% block postscripts %}
    {{ super() }}
    <script>




    function showFunction() {
        var x = document.getElementById("myInput");
        if (x.type === "password") {
        x.type = "text";
        } else {
        x.type = "password";
        }

        var y = document.getElementById("myInput1");
        if (y.type === "password") {
        y.type = "text";
        } else {
        y.type = "password";
        }
        }



        var el = document.querySelector('.tabs');
        var instance = M.Tabs.init(el, {});
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems);
        var tooltipped = document.querySelector('.tooltipped');
        var tooltips = M.Tooltip.init(tooltipped, {});

        $('.modal').modal({
            onCloseEnd: function () {
                console.log('test')
                location.reload(true)
                console.log("this should have happened")
            }
        })

        {{ jqueryformhandler(id='#changePassword',modalid='result_modal', modaldataid='result_modal_text',
            inputs=[{'name':'csrf', 'value': '"' +  user_update_csrf + '"'},
                    {'name':'current', 'value': "$('#current-pw').val()"},
                    {'name':'new', 'value': "$('#new-pw').val()"},
                    {'name':'confirm', 'value': "$('#confirm-pw').val()"}
            ])
        }}

        $(document).on('click', '#settings-link', function (e) {
            instance.select('settings');
        });

        $(document).on('click', '#universities-tab', function (e) {
            history.pushState(null, null, '#universities');
        });


        $(document).on('click', '#access_codes-tab', function (e) {
            history.pushState(null, null, '#access_codes');
        });

        $(document).on('click', '#settings-tab', function (e) {
            history.pushState(null, null, '#settings');
        });

        var qrcode = new QRCode(document.getElementById("qrcode"), {
            width: 150,
            height: 150
        });

        $(document).ready(function () {
            $('#div_qr').hide()
            $('#div_secret').hide()

            {% for enabled in enabled_2fa %}
                if ("{{ enabled }}" != '') {
                    $('#secret_key').text("{{ enabled.secret_key }}")
                    qrcode.makeCode("otpauth://totp/" + "{{ enabled.username }}" + "?secret=" +
                        "{{ enabled.secret_key }}" + "&issuer=JFDI");
                    if ("{{ enabled.auth_status }}" === "Enabled") {
                        $('#2fa_switch').attr('Checked', 'Checked');
                        $('#div_qr').show()
                        $('#div_secret').show()

                    } else {
                        $('#div_qr').hide()
                        $('#div_secret').hide()
                    }
                }
            {% endfor %}

            $("#2fa_switch").change(function (e) {
                let status;
                if (this.checked) {
                    status = "Enabled"

                } else {
                    status = "Disabled"

                }
                var formData = {
                    'csrf': "{{ enable_disable_2fa_csrf }}",
                    'auth_status': status
                };
                $.ajax({
                    url: "/enable_disable_2fa",
                    method: 'POST',
                    data: formData,
                    async: false,
                    success: function (out) {
                        location.href = "/dashboard#settings"
                        location.reload()
                    }
                });
            });

        })
    </script>
{% endblock %}
