{% extends "base.html" %}
{% from "macros/forms.html" import modal, jqueryformhandler %}
{% from "macros/navbars.html" import sidenav_admin, sidenav_employee, sidenav_client %}

{% block title %}{{ university.name }}{% endblock %}
{% block top_nav_title %}
    <a class='dropdown-trigger btn' href='#' data-target='universities-dropdown'><i
            class="material-icons">arrow_drop_down</i><span id="selected-university">{{ university.name }}</span></a>
{% endblock %}
{% block sidenav %}
    {% if role == "manager" %}
        {{ sidenav_employee(universities) }}
    {% elif role == "scholar" %}
        {{ sidenav_client(universities) }}
    {% elif role == "admin" %}
        {{ sidenav_admin(universities) }}

    {% endif %}{% endblock %}
{% block nav_content %}
    <ul class="tabs">
        {#        <li class="tab"><a href="#overview">Overview</a></li>#}
        {% if role == "scholar" %}

            <li class="tab"><a href="#details">Details</a></li>

        {% endif %}

        {% if role != "scholar" %}

        <li class="tab"><a href="#axieinfinity_transactions" class="active">Scholars Dashboard </a></li>
        <li class="tab"><a href="#completed_transactions" class="active">Profit/Loss Calculation</a></li>
        <li class="tab"><a href="#reports">Performance</a></li>
        <li class="tab"><a href="#scholars" class="active">Scholars List</a></li>



        {% endif %}


    </ul>
{% endblock %}
{% block maincontent %}


{#    <div class="preloader">#}
{##}
{#        <svg width="200" height="200" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"#}
{#             preserveAspectRatio="xMidYMid" class="lds-ripple" style="background:0 0">#}
{#            <circle cx="50" cy="50" r="4.719" fill="none" stroke="#448AFF" stroke-width="2">#}
{#                <animate attributeName="r" calcMode="spline" values="0;40" keyTimes="0;1" dur="3"#}
{#                         keySplines="0 0.2 0.8 1" begin="-1.5s" repeatCount="indefinite"/>#}
{#                <animate attributeName="opacity" calcMode="spline" values="1;0" keyTimes="0;1" dur="3"#}
{#                         keySplines="0.2 0 0.8 1" begin="-1.5s" repeatCount="indefinite"/>#}
{#            </circle>#}
{#            <circle cx="50" cy="50" r="27.591" fill="none" stroke="#5699d2" stroke-width="2">#}
{#                <animate attributeName="r" calcMode="spline" values="0;40" keyTimes="0;1" dur="3"#}
{#                         keySplines="0 0.2 0.8 1" begin="0s" repeatCount="indefinite"/>#}
{#                <animate attributeName="opacity" calcMode="spline" values="1;0" keyTimes="0;1" dur="3"#}
{#                         keySplines="0.2 0 0.8 1" begin="0s" repeatCount="indefinite"/>#}
{#            </circle>#}
{#        </svg>#}
{##}
{#    </div>#}

    <ul id='universities-dropdown' class='dropdown-content'>
        {% for university in universities %}
            <li><a href="/home/{{ university.uuid }}">{{ university.name }}</a></li>
        {% endfor %}
    </ul>
    {#    <div id="overview" class="row">#}
    {#        Overview thing#}
    {#    </div>#}
    <div id="reports" class="row">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Performance Report</span>
            </div>



        </div>

                  <div id="chart_div"></div>
    </div>

    <div id="scholars" class="row">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Scholars List</span>
            </div>

        </div>

       <div class="row">
            <table id="scholar_list_table" class="stripe row-border" width="100%">
                <thead>
                <tr>

                    <th class="scholar_list">Username</th>
                    <th class="scholar_list">Status</th>
                    <th class="scholar_list">Date Created</th>


                </tr>
                </thead>
                <tbody>

                {% for data in scholar_list_normal %}
                        <tr>

                            <td class="axieinfinity">
                                {{ data.username }}<br>
                            </td>
                            <td class="scholar_list">{{ data.status }}</td>
                            <td class="scholar_list">{{ data.date_created }}</td>

                        </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>





    <div id="axieinfinity_transactions" class="col">
        <!-- Modal Trigger -->


        <div class="row">
            <p>Note: Make sure scholar users are active and have ronin addresses.</p>
            <table id="axieinfinity_transaction_data_table" class="stripe row-border" width="100%">
                <thead>
                <tr>

                    <th class="axieinfinity">IGN</th>
                    <th class="axieinfinity">Total SLP</th>
                    <th class="axieinfinity">Unclaimed SLP</th>
                    <th class="axieinfinity">Claimed SLP</th>
                    <th class="axieinfinity">PVP</th> {#  MR, RANK, WIn Rate, Total Matches#}
                    <th class="axieinfinity">Last Claimed SLP</th> {#   2113 on MM/DD/YYYY #}
                    <th class="axieinfinity">Scholar Payout</th>
                    <th class="axieinfinity">Action</th>

                </tr>
                </thead>
                <tbody>

                {% for data in ronin_addresses_data %}
                        <tr>

                            <td class="axieinfinity">
                                {{ data.ign }}<br>
                                Last Updated: {{ data.updated_on }}<br>
                            </td>
                            <td class="axieinfinity">{{ data.total_slp }}</td>
                            <td class="axieinfinity">{{ data.in_game_slp }}</td>
                            <td class="axieinfinity">{{ data.ronin_slp }}</td>
                            <td class="axieinfinity">
                                Win Rate: {{ data.win_rate }} <br>
                                MMR: {{ data.mmr }} <br>
                                Rank: {{ data.rank }} <br>
                                Matches: {{ data.total_matches }} <br>

                            </td>
                            <td class="axieinfinity">
                                Last Claimed: <b>{{ data.last_claim_amount }}</b> SLP<br>
                                on {{ data.last_claim_timestamp }}
                            </td>
                            <td class="axieinfinity">{{ data.scholar_payout }}</td>
                            <td class="axieinfinity">
                                <a class="waves-effect waves-light btn "
                                   onclick=" window.open('{{ data.marketplace_url }}','_blank')">Axie Marketplace</a>
{#                                <a class="waves-effect waves-light btn red"#}
{#                                   id="{{ data.uuid }}_btn_exclude">Exclude</a>#}
                            </td>

                        </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>



    <div id="completed_transactions" class="col">

        <div class="row">

          <div class="column">

            <div class="card">
                <h4> SLP Rate Today </h4>
                <h5> ₱ {{ slp_price }} | $ {{ slp_price_usd }} </h5>

            </div>

          </div>

          <div class="column">

            <div class="card">
                <h4> SLP Cash </h4>
                <h5> ₱ {{ slp_total_cash }}  </h5>
            </div>

          </div>

          <div class="column">

            <div class="card">

                <h4> University Profit </h4>
                <h5> ₱ {{ profit_loss_count }}  </h5>


            </div>

          </div>

        </div>
    <br>

           <table id="axieinfinity_transaction_data_table" class="stripe row-border" width="100%">
                <thead>
                <tr>

                    <th class="axieinfinity">IGN</th>
                    <th class="axieinfinity">Team Aquisition Cost</th>
                    <th class="axieinfinity">Team Current Valuation</th>
                    <th class="axieinfinity">SLP Cash to Date</th>
                    <th class="axieinfinity">Profit/Loss</th>

                </tr>
                </thead>
                <tbody>

                {% for data in profit_loss_data %}
                        <tr>

                            <td class="axieinfinity">
                                {{ data.ign }}<br>
                                Last Updated: {{ data.updated_on }}<br>
                            </td>
                            <td class="axieinfinity">{{ data.team_aquisition_cost or 0  }}</td>
                            <td class="axieinfinity">{{ data.team_current_valuation or 0  }}</td>
                            <td class="axieinfinity">{{ data.slp_cash_to_date }}</td>
                            <td class="axieinfinity">{{ data.profit_loss_calculation }}</td>


                        </tr>
                {% endfor %}
                </tbody>
            </table>

    </div>



    <!-- Modal Structure -->
    <div id="rulemodal" class="modal" style="width: 75% !important ; max-height: 100% !important">
        <div class="modal-content">
            <div class="row">
                <div class="col s12">
                    <ul class="tabs">
                        <li class="tab col s3"><a class="active" href="#rule_tab1">Rules list</a></li>
                        <li class="tab col s3"><a href="#rule_tab2">Create Rules</a></li>
                    </ul>
                </div>
                <div id="rule_tab1" class="col s12">
                    <div class="row" style="padding-top: 30px;">
                        {% for rule in rule_list %}
                            {% if rule.name is defined %}

                                <div class="col s4 m4">
                                    <div class="card white darken-1 hoverable">
                                        <div class="card-content">
                                            <span class="card-title">{{ rule.name }}</span>
                                            {% if rule.arg3 != '' %}
                                                <p>Display transactions that are <b><i>{{ rule.ta_type }}</i></b> in
                                                    <b><i>{{ rule.exchange }}</i></b>
                                                    exchange and having <b><i>{{ rule.arg1 }}</i></b>
                                                    <b><i>{{ rule.arg2 }}</i></b> <b><i>{{ rule.arg3 }}</i></b>
                                                </p>
                                                <p>Then assign GL Account # to <b><i>{{ rule.gl_account }}</i></b> and
                                                    GL Description to
                                                    <b><i>{{ rule.gl_desc }}</i></b>
                                                </p>
                                            {% else %}
                                                <p>Display transactions that are <b><i>{{ rule.ta_type }}</i></b> in
                                                    <b><i>{{ rule.exchange }}</i></b> exchange.
                                                </p>
                                                <p>Then assign GL Account # to <b><i>{{ rule.gl_account }}</i></b> and
                                                    GL Description to
                                                    <b><i>{{ rule.gl_desc }}</i></b>
                                                </p>
                                            {% endif %}
                                        </div>
                                        <div class="card-action">
                                            <div class="switch" name="switch">
                                                <label>
                                                    Off
                                                    {% if rule.status == '1' %}
                                                        <input type="checkbox" id="{{ rule.uuid }}_switch" checked>
                                                    {% else %}
                                                        <input type="checkbox" id="{{ rule.uuid }}_switch">
                                                    {% endif %}
                                                    <span class="lever"></span>
                                                    On
                                                </label>
                                                <i id="delete_rule_btn" class="material-icons" style="float: right">delete</i>
                                                <span style="float: right">|</span>
                                                <i class="material-icons" style="float: right">edit</i>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <p>You don't have any rules yet.</p>
                            {% endif %}
                        {% endfor %}

                    </div>
                    <div class="row">
                        <button id="rule_tab1_close" class="modal-close btn btn-primary waves-effect waves-light"
                                style="float: right; margin-right: 20px;">Done
                        </button>
                    </div>
                </div>

                <div id="rule_tab2" class="col s12">
                    <form id="ruleform" class="col s12" style="padding: 10px;" action="/create_rule">
                        <label style="color: black"><b>What do you want to call this rule?</b></label>
                        <div class="row">

                            <div class="input-field col s12">
                                <input placeholder="Input Rule Name" id="rule_name" type="text" class="validate"
                                       required>
                            </div>
                        </div>

                        <label style="color: black"><b>Apply these to transactions that are</b></label>
                        <div class="row">
                            <div class="input-field col s5">
                                <select id="ta_type">
                                    <option value="Crypto Withdrawal">Crypto Withdrawal</option>
                                    <option value="Crypto Deposit">Crypto Deposit</option>
                                    <option value="Crypto Buy">Crypto Buy</option>
                                    <option value="Crypto Sell">Crypto Sell</option>
                                    <option value="Fiat Deposit">Fiat Deposit</option>
                                    <option value="Fiat Withdrawal">Fiat Withdrawal</option>
                                    <option value="Crypto Transfer In">Crypto Transfer In</option>
                                    <option value="Crypto Transfer Out">Crypto Transfer Out</option>
                                </select>
                                <label>T/A Type:</label>
                            </div>
                            <p class="col s1">in</p>

                            <div class="input-field col s5">
                                <select id="exchange_select">
                                    {% for exchange in select_exchange_list %}
                                        <option value="{{ exchange.value }}">{{ exchange.key }}</option>

                                    {% endfor %}
                                </select>
                                <label>Select Exchange:</label>
                            </div>
                        </div>
                        <label style="color: black"><b>and include the following: </b></label>
                        <div class="row">
                            <div class="input-field col s4">
                                <select id="desc_select">
                                    <option value="Description">Description</option>
                                    <option value="Wallet">Wallet</option>
                                    <option value="Currency_type">Currency type</option>
                                    <option value="Quantity">Quantity</option>

                                </select>
                            </div>
                            <div class="input-field col s4">
                                <select id="arg1_select">
                                    <option value="Contains">Contains</option>
                                    <option value="Excludes">Excludes</option>
                                    <option value="Match">Match</option>
                                    <option value="Includes">Includes</option>
                                    <option value="Less than">Less than</option>
                                    <option value="Greater than">Greater than</option>

                                </select>
                            </div>
                            <div class="input-field col s4">
                                <input id="arg2_input" placeholder="Input here" type="text" class="validate">
                            </div>

                        </div>
                        <label style="color: black"><b>Then assign </b></label>
                        <div class="row">
                            <div class="input-field col s5">
                                <select id="gl_account_select">
                                    <option value="0x45743346">0x45743346</option>
                                    <option value="0x45743347">0x45743347</option>
                                    <option value="0x45743348">0x45743348</option>
                                </select>
                                <label>GL Account</label>
                            </div>
                            <div class="input-field col s5">
                                <select id="gl_desc_select">
                                    <option value="External Wallet">External Wallet</option>
                                    <option value="Internal Wallet">Internal Wallet</option>
                                </select>
                                <label>GL Description</label>
                            </div>
                        </div>
                        <div style="float: right">
                            <button id="create_rule_submit" type="submit"
                                    class="btn btn-primary waves-effect waves-light">Save rule
                            </button>
                            <button id="rulemodalcancel" class="modal-close btn btn-primary waves-effect waves-light">
                                cancel
                            </button>
                        </div>

                    </form>
                </div>

            </div>

        </div>

    </div>







    <div id="table_settings_modal" class="modal"  style="padding: 20px; width: 75% !important ; max-height: 100% !important">
        <div class="modal-content">
            <div class="row">
                <h4></h4>

                <div class="col s12">
                    <p>Add team aquisition cost and current valuation:</p>
                    <div class="row">
                        <div class="col s6">

                                <label for='ronin_address'>Team Aquisition Cost</label>
                                <input id='ronin_address' type='text' class='validate' value=''>

                        </div>
                        <div class="col s6">

                                <label for='ronin_address'>Team Current Valuation</label>
                                <input id='ronin_address' type='text' class='validate' value=''>

                        </div>

                    </div>

                </div>
                <div style="float: right"><span class="flow-text">
                    <button id="save_settings" type="button"
                            class="btn btn-primary waves-effect waves-light">Save configuration
                            </button>
                            <button id="settingsmodalcancel" class="btn btn-primary waves-effect waves-light">
                                cancel
                            </button>
                </span></div>

            </div>

        </div>

    </div>



    <div id="csrf_holder" hidden>
        <input id="csrf-home" type="hidden" name="csrf" value="{{ csrf }}"/>
        <input id="csrf-address" type="hidden" name="csrf" value="{{ address_csrf }}"/>

    </div>
    {{ modal(id="result_modal") }}

{% endblock %}
{% block postscripts %}
    {{ super() }}
    <script src="/static/js/transactions.js"></script>
{#    <script src="/static/js/preloaderjs.js"></script>#}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script>
        var el = document.querySelector('.tabs');
        var instance = M.Tabs.init(el, {});
        var tooltipped = document.querySelector('.tooltipped');
        var tooltips = M.Tooltip.init(tooltipped, {});

        $('.dropdown-trigger').dropdown({
            'closeOnClick': true,
            'hover': true,
            'alignment': 'left'
        });


    </script>


    <script>


    google.charts.load('current', {
      packages: ['corechart']
    }).then(function drawCurveTypes() {

        var datas = JSON.parse({{scholars_performance|tojson|safe}});

      var data = new google.visualization.DataTable();
      data.addColumn('date', 'Date');
          datas.forEach(function (row) {
        // create the data table column for the user and user annotation
        var person_name = row['user'];
        var column_index = data.addColumn('number', person_name);
        var column_index_ann = data.addColumn({type: 'string', role: 'annotation'});

        // next, loop the scores for the user
        var daily_score_datas = row['daily_slps'];
        daily_score_datas.forEach(function (daily_score) {
         // get score values
          var daily_score_date = new Date(daily_score['updated_on']);
          var daily_score_score = daily_score['slp'];

          // add a new blank row and save row index
          var row_index = data.addRow();

          // set values for the date, user, and user annotation
          data.setValue(row_index, 0, daily_score_date);
          data.setValue(row_index, column_index, daily_score_score);
          data.setValue(row_index, column_index_ann, person_name);
        });
      });

      var options = {
        //chartArea: {width:"100%", height:"100%"},
        title: "Scholar's Performance Over Time",
        height: 500,
        width: 1300,
        hAxis: {
          title: 'Time',
          textPosition: 'none'
        },
        vAxis: {
          title: 'SLP'
        },
        series: {
          1: {curveType: 'function'}
        },
        legend: {position: 'none'}
      };

      var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
      chart.draw(data, options);
    });

        // next, loop the scores for the user
        var daily_score_datas = row['daily_slps'];
        daily_score_datas.forEach(function (daily_score) {
            // get score values
            var daily_score_date = new Date(daily_score['updated_on']);
            var daily_score_score = daily_score['slp'];
        });
    </script>

    <script>
        let connectionselect = $('#connectionselectdiv select')
        let visibleform = null
        connectionselect.on("change", function () {
            if (visibleform != null) {
                selector = visibleform
                let thisform = $('#' + visibleform.replace(/\s/g, '') + 'Settings')
                thisform.hide()
            }
            visibleform = connectionselect.val()
            let thatform = $('#' + visibleform.replace(/\s/g, '') + 'Settings')
            thatform.show()

        })

        let report_connection_select = $('#report-connection')
        let visible_connection_report = null
        let report_type_select = $('#report-type-select-div select')
        report_type_select.on("change", function () {
            let val = $(this).val();
            if (true == false) {
            }
                {% for option in report_options %}
                    else if (val == "{{ option }}") {
                    $("#report-connection-select-div select").html(`
                    <option value="" disabled selected>Choose a connection</option>
                    {% for connection in report_options[option] %}
                    <option value='{{ connection.exchange_name }}_{{ connection.map_name }}'>
                        {{ connection.exchange_name }} - {{ connection.map_name }}</option>
                    {% endfor %}
                    `
                    )
                }
                {% endfor %}
            $('#report-connection').prop("disabled", false);
            $('#report-connection').formSelect()

            if (visible_connection_report != null) {
                let thisreport = $('#' + visible_connection_report.replace(/\s/g, '') + 'ReportCard')
                thisreport.hide()
                visible_connection_report = null
            }
        })

        report_connection_select.on("change", function () {
            if (visible_connection_report != null) {
                selector = visible_connection_report
                let thisreport = $('#' + visible_connection_report.replace(/\s/g, '') + 'ReportCard')
                thisreport.hide()
            }
            visible_connection_report = report_connection_select.val()
            let thatreport = $('#' + visible_connection_report.replace(/\s/g, '') + 'ReportCard')
            thatreport.show()

        })

        jQuery.each(["put", "delete", "patch"], function (i, method) {
            jQuery[method] = function (url, data, callback, type) {
                if (jQuery.isFunction(data)) {
                    type = type || callback;
                    callback = data;
                    data = undefined;
                }

                return jQuery.ajax({
                    url: url,
                    type: method,
                    dataType: type,
                    data: data,
                    success: callback
                });
            };
        });
        $("#tx_load").submit(function (event) {
            event.preventDefault();
            $('#result_modal').modal('open');
            $('#result_modal_text').text('This may take several minutes.');
            submit_to_modal(
                {
                    'university_uuid': "{{ uuid }}",
                    'csrf': "{{ load_transactions_csrf }}",
                },
                $(this).attr('action'),
                'put'
            )
        })

        $("#ruleform").submit(function (event) {
            event.preventDefault();

            var formData = {
                'exchange': $('#exchange_select').val(), 'arg1': $('#desc_select').val(),
                'arg2': $('#arg1_select').val(), 'arg3': $('#arg2_input').val(), 'csrf': "{{ create_rule_csrf }}",
                'rule_name': $('#rule_name').val(), 'ta_type': $('#ta_type').val(),
                'university_uuid': "{{ university.uuid }}", 'gl_account': $('#gl_account_select').val(),
                'gl_description': $('#gl_desc_select').val()
            };
            $.ajax({
                url: "/create_rule",
                method: 'POST',
                data: formData,
                async: false,
                success: function (out) {
                    $('#result_modal').modal('open');
                    $('#result_modal_text').text(out["message"]);

                    $('#rulemodal').modal('destroy');
                }
            });
        })

        $("#updateruleform").submit(function (event) {
            event.preventDefault();

            var formData = {
                'exchange': $('#exchange_select').val(), 'arg1': $('#desc_select').val(),
                'arg2': $('#arg1_select').val(), 'arg3': $('#arg2_input').val(), 'csrf': "{{ update_rule_csrf }}",
                'rule_name': $('#rule_name').val(), 'ta_type': $('#ta_type').val(),
                'university_uuid': "{{ university.uuid }}", 'gl_account': $('#gl_account_select').val(),
                'gl_description': $('#gl_desc_select').val()
            };
            $.ajax({
                url: "/create_rule",
                method: 'POST',
                data: formData,
                async: false,
                success: function (out) {
                    $('#result_modal').modal('open');
                    $('#result_modal_text').text(out["message"]);
                    $('#rulemodal').modal('destroy');
                }
            });
        })

        $('#settingsmodalcancel').click(function () {
            $('#table_settings_modal').modal('close');
            $('#settings_transaction_table').DataTable().clear().destroy();
        });

          // add a new blank row and save row index
          var row_index = data.addRow();


        $(document).ready(function () {
            $('.modal').modal();
            $('#rulemodalcancel').click(function (e) {
                e.preventDefault()
            })

            gettransactions("{{ uuid }}", "{{ transactions_csrf }}")

            $('select').formSelect();

            $('#transaction_data_table').DataTable({
                pagingType: "full",
                scrollY: "300px",
                scrollX: true,
                scrollCollapse: true,
                fixedColumns: true
            });


            $('.dataTables_length').addClass('bs-select');

            $('#btn_add_all').hide();

            $('#btn_exclude_all').hide();

            var clicked = false;
            $('#select_all_tx').click(function () {
                $(".txcheckbox").prop("checked", !clicked);
                clicked = !clicked;
                this.innerHTML = clicked ? 'Deselect' : 'Select All';
                if (clicked) {
                    $('#btn_add_all').show()
                    $('#btn_exclude_all').show();
                } else {
                    $('#btn_exclude_all').hide();
                    $('#btn_add_all').hide();
                }
            })
            $('input:checkbox').removeAttr('checked');
            $('#axieinfinity_transaction_data_table .txcheckbox:input[type="checkbox"]').change(function () {
                count = $('input[type="checkbox"]:checked').length
                if ($(this).is(':checked')) {

                    if (count > 0) {
                        $('#btn_add_all').show()
                        $('#btn_exclude_all').show();
                    } else {
                        $('#btn_exclude_all').hide();
                        $('#btn_add_all').hide();
                    }
                } else {
                    if (count < 1) {
                        $('#btn_exclude_all').hide();
                        $('#btn_add_all').hide();
                    }
                }
            });});


    </script>

    <style>
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}
</style>

{% endblock %}
