<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Axie Iskolarship Login</title>
    <link href="/static/css/style.css" rel="stylesheet"/>
    <link href="/static/css/admin-materialize.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-2.2.4.js"></script>
    <script src="/static/js/materialize.min.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>

<div class="login">
    <h1>Iskolarship Login</h1>


    <div class="card hoverable">
        <div class="card-content">
            <form method="post" action="" id="login">
                <input type="text" name="u" placeholder="Username" required="required" id="username"/>
                <input type="password" name="p" placeholder="Password" required="required" id="password"/>
                <input type="hidden" name="csrf" value="{{ csrf }}"/>
                <div>
                    <button type="submit" class="btn btn-primary btn-block btn-large" id="submit">Login</button>
                    <br>
                    <a href="/register">REGISTER</a>


                </div>


            </form>
        </div>
    </div>

    <div>
        <div class="card-content">
            <p>Help me maintain this project by donating.</p>
            <p>ETH/BSC Address: 0x3F2Bd66B22B9E190764445A6713264Af09F46397</p>

            <br>
            <p>Contribution: Currently migrating main repo from gitlab to github for open sourcing.</p>

        </div>
    </div>


    <div id="message_modal" class="modal">
        <div class="modal-content">
            <div class="row">
                <h5 id="title"></h5>
                <p id="message"></p>
                <button id="btn_ok" type="button" class="btn btn-primary btn-block btn-small right">Ok</button>

            </div>

        </div>

    </div>
    <div id="auth_modal" class="modal">
        <div class="modal-content">
            <div class="row">
                <h5 style="text-align: center">Two-factor authentication</h5>
                <div class="card" style="width: 400px; margin-right: auto; margin-left: auto; position: relative;">
                    <div class="card-content">
                        <form id="auth_login" action="">
                            <p style="font-weight: bold">Authentication code</p>
                            <input id="otp" name="otp" type="text" style="border: #448aff 1px solid; text-align: center" required>
                            <input type="hidden" name="csrf" value="{{ login_with_2fa_csrf }}"/>
                            <button id="verify" type="submit" style="width: 100%"
                                    class="btn btn-primary btn-block btn-large">Verify
                            </button>
                        </form>
                    </div>
                </div>
                <div style="height: auto; width: 400px; margin-right: auto; margin-left: auto; position: relative;">
                    <i class="material-icons">phone_android</i>
                    <span style="text-align: center">Open the two-factor authentication app on
                        your device to view your authentication code and verify your identity.</span>
                </div>

            </div>

        </div>

    </div>

</div>
<script>
    $(document).ready(function () {
        $('.modal').modal();
        $("#login").submit(function (event) {
            event.preventDefault();
            let formData = {
                'csrf': "{{ login_csrf }}",
                'p': $("#password").val(),
                'u': $("#username").val()
            };
            $.ajax({
                url: "/login",
                method: 'POST',
                data: formData,
                async: false,
                success: function (out) {
                    if ("message" in out) {
                        $("#message_modal").modal('open')
                        $('#message').text(out["message"])
                        $('#title').text("Incorrect credentials")
                        $("#btn_ok").click(function () {
                            $("#message_modal").modal('destroy')
                            location.reload()
                        })

                    } else {
                        if (out['auth'] === "Enabled") {
                            $("#auth_modal").modal({
                                dismissible: false
                            });
                            $("#otp").val("")
                            $("#auth_modal").modal('open')
                            $("#auth_login").submit(function (e) {
                                    e.preventDefault();
                                    let authData = {
                                        'csrf': "{{ login2fa_csrf }}",
                                        'page': out['page'],
                                        'user': out['user'],
                                        'otp': $("#otp").val()
                                    };
                                    $.ajax({
                                        url: "/login2fa",
                                        method: 'POST',
                                        data: authData,
                                        async: false,
                                        success: function (res) {
                                            if ("message" in res) {
                                                $("#auth_modal").modal('destroy')
                                                $("#message_modal").modal('open')
                                                $('#message').text(res["message"])
                                                $('#title').text("Two-factor Authentication Error")
                                                $("#btn_ok").click(function () {
                                                    $("#message_modal").modal('destroy')
                                                    location.reload()
                                                })


                                            }else{

                                                window.location.replace(res['page'])
                                            }
                                        }
                                    })


                                }
                            )

                        } else {
                            window.location.replace(out['page'])
                        }

                    }


                }
            })
            ;
        })
    })

</script>

</body>
</html>