<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Message</title>
</head>
<body>
<span id="message">{{message}}</span>

<br />
<a href="/home" id="goHome">Go home</a>
</body>
</html>