<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Axie Iskolarship Register</title>
    <link href="/static/css/style.css" rel="stylesheet"/>
    <link href="/static/css/admin-materialize.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-2.2.4.js"></script>
    <script src="/static/js/materialize.min.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>

<div class="login">
    <h1>Iskolarship Registration</h1>


    <div class="card hoverable">
        <div class="card-content">
            <form method="post" action="" id="register">
                <input type="text" name="u" placeholder="Username" required="required" id="username"/>
                <input type="password" name="p" placeholder="Password" required="required" id="password"/>
                <input type="hidden" name="csrf" value="{{ csrf }}"/>
                <div>
                    <button type="submit" class="btn btn-primary btn-block btn-large" id="submit">REGISTER</button>
                    <br>
                    <a href="/login">LOGIN</a>


                </div>


            </form>
        </div>
    </div>

    <div>
        <div class="card-content">
            <p>Help me maintain this project by donating.</p>
            <p>ETH/BSC Address: 0x3F2Bd66B22B9E190764445A6713264Af09F46397</p>

            <br>
            <p>Contribution: Currently migrating main repo from gitlab to github for open sourcing.</p>

        </div>
    </div>


    <div id="message_modal" class="modal">
        <div class="modal-content">
            <div class="row">
                <h5 id="title"></h5>
                <p id="message"></p>
                <button id="btn_ok" type="button" class="btn btn-primary btn-block btn-small right">Ok</button>

            </div>

        </div>

    </div>


</div>
<script>
    $(document).ready(function () {
        $('.modal').modal();
        $("#register").submit(function (event) {
            event.preventDefault();
            let formData = {
                'csrf': "{{ register_csrf }}",
                'p': $("#password").val(),
                'u': $("#username").val()
            };
            $.ajax({
                url: "/register",
                method: 'POST',
                data: formData,
                async: false,
                success: function (out) {
                    if ("message" in out) {
                        $("#message_modal").modal('open')
                        $('#message').text(out["message"])
                        $('#title').text("Registration Message")
                        $("#btn_ok").click(function () {
                            $("#message_modal").modal('destroy')
                            location.reload()
                        })

                    } else {
                            window.location.replace(out['page'])
                        }


                }
            })
            ;
        })
    })

</script>

</body>
</html>