{% extends "base.html" %}
{% from "macros/forms.html" import modal, jqueryformhandler %}
{% from "macros/navbars.html" import sidenav_employee %}
{% block title %}Reports{% endblock %}
{% block top_nav_title %}Reports{% endblock %}
{% block nav_content %}
{% endblock %}
{% block sidenav %}
    {{ sidenav_employee(companies) }}
{% endblock %}
{% block maincontent %}
    <div class="">
    {{ exchanges }}
        {% for exchange in exchanges | sort(attribute='name') %}
            <div class="card">
                <div class="card-content">
                    <span class="card-title">{{exchange.name}}</span>
                    <form name="{{exchange.name.replace(" ", "")}}Report" method="post" action="/reports" id="{{exchange.name.replace(" ", "")}}Report">
                        <input type="hidden" name="exchange_uuid" value="{{exchange.uuid}}" />
                        <input type="hidden" name="company_uuid" value="{{uuid}}" />
                        <input type="hidden" name="csrf" value="{{csrf}}" />
                        {% for item in exchange.options %}
                            <h6>{{ exchange.options[item].id }}:</h6>
                            {% if exchange.options[item].form_type == 'dropdown' %}
                                <select class="hidden" name="{{ exchange.options[item].name }}"
                                        {% if exchange.options[item].required == 1 %}required{% endif %}>
                                    {% for value in exchange.options[item].options %}
                                        <option value="{{ value }}">{{ value }}</option>
                                    {% endfor %}
                                </select>
                            {% elif exchange.options[item].form_type == 'calendar' %}
                                <input name="{{ exchange.options[item].name }}" type="text" class="datepicker"
                                       {% if exchange.options[item].required == 1 %}required{% endif %}>
                            {% elif exchange.options[item].form_type == 'email' %}
                                <input name="{{ exchange.options[item].name }}" type="email" placeholder="{{ exchange.options[item].description }}"
                                       {% if exchange.options[item].required == 1 %}required{% endif %}>
                            {% endif %}
                        {% endfor %}
                        <button id="{{ exchange.name }}_submit" type="submit" class="btn btn-primary waves-effect waves-light">Get Report</button>
                    </form>
                </div>
            </div>

            </form>
        {% endfor %}

    </div>
{{ modal(id='resultmodal') }}
{% endblock %}
{% block postscripts %}
{{ super() }}

<script>
        var el = document.querySelector('.tabs');
        var instance = M.Tabs.init(el, {});
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems);
        var tooltipped = document.querySelector('.tooltipped');
        var tooltips = M.Tooltip.init(tooltipped, {});

        $('.modal').modal({onCloseEnd: function (){
            location.reload(true)
            }})

        {# Needs a dynamic form creation link#}
</script>
{% endblock %}
