<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Message</title>
</head>
<body>
<span id="message">{{message}}</span>
{% if url %}
<br />
Download report here: <a href="{{url}}" target="_blank">{{url}}</a>
{% endif %}

<br />
<a href="/home">Go home</a>
</body>
</html>